#review-form input[type="text"],
#review-form textarea {
  width: 100%;
  font-size: 1.1em;
  padding: 6px 10px;
  box-sizing: border-box;
}

#review-form button {
  font-size: 1.1em;
  background-color: #007dbb;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#review-form .form-row {
  margin: 10px 0;
  font-size: 1.1em;
}

#review-form .form-row.error {
  color: #dc3545;
}

/* By default, all stars are styled as if they are selected */
.star-rating svg {
  width: 2.5em;
  height: 2.5em;
  fill: #FFFF00;
  stroke: #7E7E00;
  stroke-width: 3px;
  /* Transparent border-bottom to avoid jumping when border is applied on :hover & :focus */
  border-bottom: 3px solid transparent;
}

.star-rating label {
  display: block;
  float: left;
  font-size: 1em;
  height: 2.5em;
}

/* Style stars for the checked item and later siblings to not be selected */
.star-rating input:checked~label svg {
  fill: #CCC;
  stroke: #999;
  stroke-width: 2px;
}

/* Style the checked item star as selected and add a bottom border */
.star-rating input:checked+label svg {
  fill: #FFFF00;
  stroke: #7E7E00;
  stroke-width: 3px;
  border-bottom-color: #7E7E00;
}

/* When an item has focus, show a dashed bottom border */
.star-rating input:focus+label svg {
  border-bottom-style: dotted;
}

/* On hover of any item, show all stars as selected */
.star-rating:hover input+label svg {
  fill: #FFFF00;
  stroke: #7E7E00;
  stroke-width: 3px;
}

/* Style the stars for the hovered item and later siblings to not be selected */
.star-rating input:hover~label svg,
.star-rating input:focus~label svg {
  fill: #CCC;
  stroke: #999;
  stroke-width: 2px;
}

/* Style the star for the hovered item as selected */
.star-rating input:hover+label svg,
.star-rating input:focus+label svg {
  fill: #FFFF00;
  stroke: #7E7E00;
  stroke-width: 3px;;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}
